<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li><a href="http://media-analytics.op-bit.nz">Media Analytics site</a></li>
  <li><a href="https://gitlab.op-bit.nz/BIT/Project/Assisted-Technolgy/Media-Analytics">Project repository</a></li>
  <li><a href="https://gitlab.op-bit.nz/BIT/Project/MediaAnalytics/mediaanalytics">Old repo</a></li>
  <li><a href="/project1/">Project 1</a></li>
</ul>
